#site_title {
  small {
    color: #2CA4AB;
    font-weight: bold;
  }
}

.scrollable {
  overflow: scroll;
  td {
    padding: 8px 12px 6px 12px;
    vertical-align: top;
    border-bottom: 1px solid #e8e8e8;
  }
}

.sidebar_section {
  .formtastic {
    li {
      padding: 0
    }
  }
  form fieldset.inputs{
    background:transparent;
    border: none;
    box-shadow: none;
  }
}

.hidden {
  display: none;
}

.quran-text{
  font-size: 25px;
}

.mark-btn{
  margin: 5px;
  display: block;
  width: 100px;
}

.ar.indopak{
  font-family: pdms;
  font-size: 20px;
  direction: rtl;
}

table sup{
  color: #2CA4AB;
  cursor: pointer;
}

.footnote-dialog{
  padding: 5px;
}

.diff{overflow:auto;}
.diff ul{background:#fff;overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:0; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:#dfd; color:#080}
.diff li.del{background:#fee; color:#b00}
.diff li:hover{background:#ffc}
/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
.diff del strong{font-weight:normal;background:#fcc;}
.diff ins strong{font-weight:normal;background:#9f9;}
.diff li.diff-comment { display: none; }
.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }
