@import "home";
@import  "fonts";
@import  "bootstrap-modal";
@import  "jquery-ui-position.min";
@import  "transliteration";
@import  "proof_read_comments";
@import  "arabic_transliterations";
@import 'activeadmin/quill_editor/quill.snow';
@import "quill_field";

.diff ul {
    background: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
}

.diff del, .diff ins {
    display: block;
    text-decoration: none;
}

.diff li {
    padding: 0;
    display: table-row;
    margin: 0;
    height: 1em;
}

.diff li.ins {
    background: #dfd;
    color: #080
}

.diff li.del {
    background: #fee;
    color: #b00
}

.diff li:hover {
    background: #ffc
}

/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span {
    white-space: pre-wrap;
}

.diff del strong {
    font-weight: normal;
    background: #fcc;
}

.diff ins strong {
    font-weight: normal;
    background: #9f9;
    padding: 5px;
}

.diff li.diff-comment {
    display: none;
}

.diff li.diff-block-info {
    background: none repeat scroll 0 0 gray;
}

.section{
    border: 1px dotted red;
    padding: 10px;
    margin: 10px;
}

.diffy ins{
    background: #dfd;
    color: #080;
    text-decoration: none;
}


.diffy del{
    background: #fee;
    color: #b00;
    text-decoration: none;

}


.surah-info{
  h2{
   font-size:  45px;
  }

  h3{
    font-size:  35px;
  }
}