body{
  font-family: Roboto, "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
@font-face {
  font-family: 'nafees';
  src: font-url('nafees/nafees-nastaleeq-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('nafees/nafees-nastaleeq-webfont.woff') format('woff'),
  font-url('nafees/nafees-nastaleeq-webfont.ttf') format('truetype'),
  font-url('nafees/nafees-nastaleeq-webfont.svg#NafeesRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'me_quran';
  src: font-url('me_quran_volt_newmet.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pdms';
  src: font-url('PDMS_Saleem_QuranFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'al_qalam';
  src: font-url('al_qalam.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.urdu {
  font-family: nafees;
  direction: rtl;
}

.row-text_madani{
 font-family: me_quran;
  direction: rtl;
}

.me_quran{
  font-family: me_quran;
  direction: rtl;
}

.row-text_indopak{
  font-family: pdms;
  direction: rtl;
}

.indopak{
  font-family: pdms;
  font-size: 30px;
  color: #000;
}

@font-face {
  font-family: quran_common_font;
  src: font-url('quran-common/quran_common.ttf');
  font-weight: normal;
  font-style: normal;
}

.tp0, .v3p0{
  font-family: quran_common_font;
}

@mixin word_font($page) {
  @font-face {
    font-family: tp#{$page};
    src: font-url('embed_ttf/tp#{$page}.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: v2p#{$page};
    src: font-url('ttf/v2/p#{$page}.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: v3p#{$page};
    src: font-url('ttf/p#{$page}.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .tp#{$page}{
    font-family: tp#{$page};
    font-size: 25px;
  }

  .v2p#{$page} {
    font-family: v2p#{$page};
    font-size: 25px;
  }

  .v3p#{$page} {
    font-family: v3p#{$page};
    font-size: 25px;

    &.char-sajdah, &.char-end, &.char-rub-el-hizb, &.char-pause{
      font-family: quran_common_font !important;
    }
  }
}

@for $i from 1 through 604 {
  @include word_font($i);
}
