// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  min-height: 2000px;
  padding-top: 70px;
}

.navbar-brand {
  small {
    color: #2CA4AB;
    font-weight: bold;
  }
}

.text-white {
  color: #fff !important;
}

.pb-5, .py-5 {
  padding-bottom: 3rem !important;
}

.pink-text {
  color: #e91e63 !important;
}

.pt-2, .py-2 {
  padding-top: .5rem !important;
}

.pt-5, .py-5 {
  padding-top: 3rem !important;
}

.pl-4, .px-4 {
  padding-left: 1.5rem !important;
}

.pr-4, .px-4 {
  padding-right: 1.5rem !important;
}

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
.rgba-indigo-strong {
  background-color: rgba(63,81,181,.7);
}

.bs-callout-info {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid !important;
  border-left-width: 5px !important;
  border-radius: 3px;
  border-left-color: #1b809e !important;

  h4 {
    color: #1b809e;
    margin-top: 0;
    margin-bottom: 5px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.bs-example {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);

  &:after{
      position: absolute;
      top: 15px;
      left: 15px;
      font-size: 12px;
      font-weight: 700;
      color: #959595;
      text-transform: uppercase;
      letter-spacing: 1px;
      content: "Filters";
  }
}

h1[id] {
  padding-top: 20px;
  margin-top: 0;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}


.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}

.bs-docs-section {
  margin-bottom: 60px;

  .highlight {
    margin: 0;
    margin-top: -16px;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
  }

  .pagination li a, .pagination li span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
  }
}

.card {
  border: 0;
  border-radius: .25rem;
  font-weight: 400;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;

  &.card-image {
    background-size: cover;
    background-position: center;
    width: 100%;
  }

  .rgba-black-strong {
    background-color: rgba(0, 0, 0, .7);
  }

  .card.card-image [class*=rgba-] {
    border-radius: .25rem;
  }

  .card-title {
    margin-bottom: .75rem;
  }

  .btn-success{
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }

  .bs-example {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

