/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fonts
 *= require bootstrap4.2.min.css
 */

.verse{
  display: block;
  clear: both;
  text-align: right;
  direction: rtl;
  float: right;
  width: 100%;
  border-bottom: 1px solid #666;
  padding: 20px 0;
}

.wp-10{
word-spacing: 10px;
}
.dotted{
    border-bottom: 1px dotted #cecece;
    padding-bottom: 5px;
}
.text-transliteration span{
  margin: 0 5px;
}

.indopak{
   font-size: 40px;
}
.word{
    padding: 10px 20px;
    border: 2px solid;
    float: right;
}

.word .text{
 display: block;
}

.word .text:first-child{
    border-bottom: 2px dotted #666;
    padding-bottom: 10px;
}

.word:last-child{
    display: none;
}