.filters {
  select {
    min-width: 200px;
  }

  input[type='submit'] {
    margin-bottom: 30px;
    margin-left: 30px;
  }
}

.highlight {
  .progress {
    background: #3C3741;
  }
  .progress-bar-success {
    background: #2ca4ab;
  }
}

#editor-wrap {
  canvas {
    width: 100%;
    display: block;
    margin: 1em auto;
    background: #fff;
    border: 1px solid #ccc;
    height: 416px;
  }
}

